[Desktop Entry]
Version=1.1
Type=Application
Name=Octane Server
Comment=Render
Icon=/home/$USER/.icons/octane_icon.png
Exec=sudo /usr/local/OctaneServer/OctaneServer
Terminal=true
Categories=Graphics;
